body {
    margin: 0;
    background-color: #1F2937;
}

h1{
    color: white;
    font-family: 'Karla', sans-serif;
    font-size: 40px;
    margin: 0;
    margin-bottom: 10px;
}

span{
    color: #4ADF86;
}

p{
    margin: 0;
    font-family: 'Inter', sans-serif;
    color: #D5D4D8;
    font-size: 20px;
}

button{
    margin-top: 51px;
    font-family: 'Inter', sans-serif;
    border: none;
    background: #10B981;
    color: white;
    padding: 10px 15px;
    border-radius: 6px;
    font-size: 16px;
}


.generator{
    margin: auto;
    width: 550px;
    height: 550px;
    background: #1F2937;
    padding: 115px 52px;
}

.divider{
    width: 446px;
    height: 0px;
    border: 1px solid #2F3E53;
    margin-top: 35px;
}


.result{
    display: flex;
    justify-content: start;
}

#result1,
#result2{
    width: 211px;
    height: 39px;
    background: #273549;
    border-radius: 6px;
    color: #55F991;
    margin-right: 24px;
    margin-top: 35px;
}